/* Header */
.kb-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 16px;
    padding: 12px 24px 14px;
    border-bottom: 1px solid var(--bs-border-color);
}

.kb-header-title {
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
}

#page-content-headline {
    font-size: 18px;
}
.kb-header-actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

#document-visibility {
    margin-right: 2rem;
}


/* Share button */
/*.kb-btn-share {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    gap: 6px;*/
/*    padding: 8px 14px;*/
/*    font-size: 0.875rem;*/
/*    font-weight: 500;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.15s ease;*/
/*}*/

.kb-btn-share:hover {
    background-color: #d8d8d8;
}

.kb-btn-share .icon {
    flex-shrink: 0;
}

.kb-btn-edit {
    color: #fff;
    background-color: #4229A3;
}

.kb-btn-edit:hover {
    filter: brightness(0.8);
}
